# Environment variables
.env
.env.*.local

# Misc
.DS_Store
Thumbs.db


# Logs
logs/
*.log
npm-debug.log*


# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Compiled output
#dist/
build/
lib/
*.tsbuildinfo

# TypeScript cache
*.tsbuildinfo

# IDEs and editors
.vscode/
.idea/


# Optional npm cache directory
.npm/

